<div class="container">
	<h1>Welcome <%= @user.username %></h1>

	<p>Enter a location and retrieve current weather</p>

	<form action="/weather" method="post">
		<input type="text" name="location[city]"placeholder="City" value="<%= @location.city %>">
		<input type="text" name="location[state]" placeholder="State e.g. IL, CA, FL" value="<%= @location.state %>">
		<input type="hidden" name="location[country]" placeholder="Country" value="USA">
		<input type="hidden" name="location[date]" placeholder="date" value="<%= Time.now.to_i %>">
		<input type="hidden" name="location[user_id]" placeholder="user" value="<%= @user.id %>">
		<input type="submit" value="LookUp Weather">
	</form>

<div class="weather">

	<% if @lastloc != nil %>
	
	<p><%=@lastloc.city %></p>
	<p><%=@lastloc.state %></p>
	<p><%= Time.at(@lastloc.date).strftime("%B %e, %Y at %I:%M %p") %></p>
	<p><%=@lastloc.latitude %></p>
	<p><%=@lastloc.longitude %></p>
<hr>
	<p><%=@weather.temperature %></p>
	<img src="png/<%=@weather.icon %>.png">
	<p><%=@weather.icon %></p>

	<% end %>
</div>

<div class="weatherhistory">
	
</div>



</div>


<!-- icons: clear-day, clear-night, rain, snow, sleet, wind, fog, cloudy, partly-cloudy-day, or partly-cloudy-night -->
<!-- clouds:
A value of 0 corresponds to clear sky, 0.4 to scattered clouds, 0.75 to broken cloud cover, and 1 to completely overcast skies. -->