<div class="container">
	<h1>Welcome <%= @user.username %></h1>

	<p>Enter a location and retrieve current weather</p>

	<form action="/weather" method="post">
		<input type="text" name="location[city]"placeholder="City" value="<%= @location.city %>">
		<input type="text" name="location[state]" placeholder="State e.g. IL, CA, FL" value="<%= @location.state %>">
		<input type="hidden" name="location[country]" placeholder="Country" value="USA">
		<input type="hidden" name="location[date]" placeholder="date" value="<%= Time.now.to_i %>">
		<input type="hidden" name="location[user_id]" placeholder="user" value="<%= @user.id %>">
		<input type="submit" value="LookUp Weather">
	</form>

<div class="weather">

	<% if @lastloc != nil %>
	
	<p><%=@lastloc.city %></p>
	<p><%=@lastloc.state %></p>
	<p><%= Time.at(@lastloc.date).strftime("%B %e, %Y at %I:%M %p") %></p>
	<p><%=@lastloc.latitude %></p>
	<p><%=@lastloc.longitude %></p>
<hr>
	<p><%=@weather.temperature %></p>
	<img src="png/<%=@weather.icon %>.png">
	<p><%=@weather.icon %></p>

	<% end %>
</div>

<div class="weatherhistory">
	<hr>
	<p>Historical Weather</p>
	<p><%=@year07temp %></p>
	<p><%=Time.at(@year07time).strftime("%b, %y") %></p>
	<p><%=@year00temp %></p>
	<p><%=Time.at(@year00time).strftime("%b, %y") %></p>
</div>

<hr>
<p><%=@history %></p>

	<div id="show_history">

<label id="sorting"><input type="checkbox">Sort values</label>
<script>window.temperature_data = <%= @history %>;</script>


	</div>
	
</div>

  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(window.temperature_data@history);

        var options = {
          title: 'The decline of \'The 39 Steps\'',
          vAxis: {title: 'Accumulated Rating'},
          isStacked: true
        };

        var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>


